@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

* {
  font-family: 'Muli', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: azure;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 100px;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.amount {
  background-color: rgb(28, 0, 80);
  padding: 15px 20px;
  border: none;
  font-family: inherit;
  font-size: 34px;
  color: aliceblue;
  border-radius: 50px;
  text-align: center;
}

.amount::placeholder {
  font-size: 24px;
  font-family: inherit;
}

.amount:focus {
  outline: none;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.jar {
  background-color: #fff;
  color: #636363;
  font-family: inherit;
  text-align: center;
  width: 250px;
  height: 250px;
  margin: 1rem;
  border-radius: 15px;
  box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.1);
}

.jar h2 {
  font-size: 3.5rem;
  margin-top: 0;
  padding-top: 50px;
  color: rgb(43, 43, 43);
}

.jar span {
  font-size: 1.4rem;
}

.jar h3 {
  font-size: 2rem;
  font-weight: normal;
  padding-bottom: 0;
  margin-bottom: 0;
}
